<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>
  <% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
  <% }) %>
  <% scripts.forEach(function(script) { %>
  <script src="<%= script %>"></script>
  <% }) %>
  <script>
    require.config(<%= require.config %>);
    require([<%= require.sources %>], function() {
      require([<%= require.specsAndReporters %>], function() {
        require([<%= require.start %>], function() {
          // good to go! Our tests should already be running.
        });
      });
    });
  </script>
</head>
<body>
</body>
</html>
