<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>

  <% with (scripts) { %>
  <% [].concat(jasmine, vendor, helpers).forEach(function(script){ %>
  <script src="<%= script %>"></script>
  <% }) %>
  <% }; %>


  <% var hasLaunched = false; %>
  <script>
      function launchSpec() {
        require([
          <% scripts.src.forEach(function(script, i){ %>
          <% if (options.requireConfig && options.requireConfig.baseUrl) script = script.replace(new RegExp('^' + options.requireConfig.baseUrl),""); %>
          <% if (options.loaderPlugin) script = options.loaderPlugin + '!' + script %>
            '<%= script.replace(/\.js$/,"") %>' <%= i < scripts.src.length-1 ? ',' : '' %>
            <% }) %>
        ],
        function(){
          require(['<%= [].concat(scripts.specs,scripts.reporters).join("','") %>'], function(){
            require(['<%= scripts.start.join("','") %>'], function(){
              // good to go! Our tests should already be running.
            })
          })
        }
        )
      }
  </script>

  <script>
    <% if (options.requireConfig) { %>
      var require = (function(){
            var config = <%= JSON.stringify(options.requireConfig) %>;
            <%
            for (var item in options.requireConfig) {
                if (typeof options.requireConfig[item] == 'function') {
            %>
                config['<%= item %>'] = <%= options.requireConfig[item].toString().replace(/^function\s+\w*\(([^\)]*)\)\s*\{((?:.|\n)*)}/m, 'function($1) {$2') %>
            <%
                    if (item == 'callback') {
                        hasLaunched = true;
            %>
                        launchSpec();
            <%
                    }
            %>
                }
            <%
                }
            }
            %>
            return config;
      })();
    <% } %>
  </script>
  <script src="<%= temp %>/require.js"></script>
  <% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
  <% }) %>
  <%
  if (!hasLaunched) {
  %>
  <script>
      launchSpec();
  </script>
  <%
  }
  %>
</head>
<body>
</body>
</html>
